picture > img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.slider{
  overflow: hidden;
}

.slider-content{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  transition: all 500ms ease;
}

.slider-item {
  flex: 0 0 auto;
  width: 100%;
}

.slider-radio-conteiner:nth-child(1):checked ~ .slider-content{
  transform: translateX(0%);
}

.slider-radio-conteiner:nth-child(2):checked ~ .slider-content{
  transform: translateX(-100%);
}
.slider-radio-conteiner:nth-child(3):checked ~ .slider-content{
  transform: translateX(-200%);
}

.slider-radio-conteiner:nth-child(4):checked ~ .slider-content{
  transform: translateX(-300%);
}

.slider-radio-conteiner {
  position: absolute;
  left: 38%;
  top: 105%;
}

.slider-radio {
  position: relative;
  z-index: 6;
}

.search {
  padding: 40px 0;
  font-family: "Flame-Regular";
  text-align: center;
  color: rgb(80,35,20);
}

.search > div > p {
  font-family: "Flame-Sans";
  margin: 16px 24px;
  color: rgb(21,21,34);
}

.search > div > div > button {
  background-color: rgb(214,35,0);
  color: rgb(245,235,220);
  cursor: pointer;
  font-size: 18px;
  padding: 12px;
  border-radius: 8px;
  width: 350px;
}

.search > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > div > input {
  margin: 20px;
  border: 1px solid rgb(92,92,92);
  border-radius: 8px;
  color: rgb(193,183,179);
  font-size: 18px;
  font-family: "Flame-Regular";
  text-align: center;
  width: 80%;
  height: 50px;
  padding: 16px 40px;
}

.search > div > h2 {
  margin: 2rem;
  font-size: 25px;
}

.search > div > h4 {
  font-size: 22.8px;
}

.app {
  background-color: #D62300;
  display: flex;
  width: 100%;
}