/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.p1 {
  font-family: 'Flame-Bold';
}
.p2 {
  font-family: 'Flame-Regular';
}
.p3 {
  font-family: 'Flame-Condensed';
}
.p4 {
  font-family: 'Flame-Sans';
}
.p5 {
  font-family: 'Flame-Sans-Regular';
}

a {
  font-family: 'Flame-Regular';
}

@font-face {
    font-family: 'Flame-Bold';
    src: url('./assets/fonts/Flame-Bold.woff') format('woff'),
        url('./assets/fonts/FlameBold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Flame-Regular';
    src: url('./assets/fonts/Flame-Regular.woff'), format('woff'),
        url('./assets/fonts/FlameRegular.otf') format('opentype');
    font-style: normal;
}
 
@font-face {
    font-family: 'Flame-Condensed';
    src: url('./assets/fonts/FlameCondensed.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Flame-Sans';
    src: url('./assets/fonts/FlameSans.otf') format('opentype');
    font-style: normal;
}

@font-face {
  font-family: 'Flame-Sans-Regular';
  src: url('./assets/fonts/FlameSans-Regular.woff') format('woff');
  font-style: normal;
}
