
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans500-webfont.eot');
    src: url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans500-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans500-webfont.woff2') format('woff2'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans500-webfont.woff') format('woff'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans500-webfont.ttf') format('truetype'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans500-webfont.svg#museo_sans500') format('svg');
    font-weight: 500;
    font-style: normal;
}
 
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans300-webfont.eot');
    src: url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans300-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans300-webfont.woff2') format('woff2'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans300-webfont.woff') format('woff'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans300-webfont.ttf') format('truetype'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans300-webfont.svg#museo_sans500') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Museo Sans';
    src: url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans700-webfont.eot');
    src: url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans700-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans700-webfont.woff2') format('woff2'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans700-webfont.woff') format('woff'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans700-webfont.ttf') format('truetype'),
        url('https://cdn.appsflyer.com/creatives-fonts/museo_sans/MuseoSans700-webfont.svg#museo_sans500') format('svg');
    font-weight: 700;
    font-style: normal;
}